# OS
.DS_Store

#  Editors
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
reports/
.coverage*
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter / IPython
.ipynb_checkpoints/

# Local settings and contents
__pypackages__/
.venv/
.pyenv-versions
